.ordered-set-list-field td.region {
  font-weight: bold;
}
.ordered-set-list-field tr.region-message {
  font-weight: normal;
  color: #999;
}
.ordered-set-list-field tr.region-populated {
  display: none;
}
.block-region {
  background-color: #ff6;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 3px;
}

